<!-- views/articles-show.handlebars -->

<a href="/">Back to Home</a>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>{{article.name}}</h1>
    <h2>{{article.bin}}</h2>
    <p>{{article.description}}</p>
    <p><a href="/articles/{{article._id}}/edit">Edit</a></p>
    <p><form method="POST" action="/articles/{{article._id}}?_method=DELETE">
        <button class="btn btn-primary" type="submit">Delete</button>
    </form></p>
  </div>
</div>
